# Library to parse media information
pymediainfo

# Progress bar library
tqdm

# FFmpeg (used for video processing)
ffmpeg

# Python Imaging Library (Pillow)
Pillow

# Required for some Python packages that need Rust extensions
setuptools-rust

# Whisper model from OpenAI for automatic speech recognition
openai-whisper

# Video editing library
moviepy

# Google's generative AI library
google-generativeai
